@import "@/styles/globals.scss";

div.main-wrap {
  div.banner-container {
    height: 25rem;
    border-bottom: 1px solid $border-color;
    // ! Swiper에 Data Binding시에 제거 예정
    div.swiper-slide {
      display: flex;
      justify-content: space-between;
      padding: 3.125rem 3.125rem 3.125rem 9.375rem;
      &:first-child {
        background-color: #fceee2;
      }

      &:nth-child(2) {
        background-color: #e6c9ac;
      }

      &:last-child {
        background-color: #dbc1ac;
      }

      div.banner-info-container {
        color: $text-color;
        gap: 3.125rem;
        text-align: end;
        cursor: default;
        h1 {
          width: fit-content;
          text-shadow: 4px 4px 4px rgba($assistance-color, 0.8);
        }
        p.banner-description {
          max-width: 65ch;
        }
      }
    }
  }

  div.rank-list-container {
    margin-top: 1.25rem;
    gap: 2.5rem;
    div.btn-container {
      padding-right: 3.125rem;
      gap: 1.875rem;
      button {
        cursor: pointer;
        &:hover {
          color: $point-color;
        }
        &.active {
          color: $point-color;
          font-weight: 600;
        }
      }
    }
  }
}
