@import "@/styles/globals.scss";

div.wishlist-wrap {
  &.empty-wrap {
    height: calc(100vh - 80px);
  }
  div.empty-list {
    gap: 30px;
    .empty-icon {
      width: 6.25rem;
      height: 6.25rem;
    }
  }
}
