@import "@/styles/globals.scss";

div.header-container {
  height: 5rem; // 반응형 구조 잡을경우에는 제거 예정
  border-bottom: 1px solid $border-color;

  div.left-container {
    gap: 3.125rem;
    width: 68.75rem;
    a.logo {
      width: 9.375rem;
      height: 100%;
      background-color: $point-color;
      color: $border-color;
      cursor: pointer;
    }

    a.store-location-btn {
      min-width: fit-content;
      &.active,
      &:hover {
        color: $point-color;
        font-weight: 600;
      }
    }

    div.search-container {
      border: 1px solid $border-color;
      border-radius: 8px;
      height: 3.125rem;
      max-width: 43.75rem;
      div.search-filter-container {
        // width: 150px;
        width: 9.375rem;
        border-right: 1px solid $border-color;
        text-align: center;
        z-index: 9;
        button {
          width: 100%;
          height: 100%;
          padding: 0 10px;
          border-radius: 8px 0 0 8px;
          cursor: pointer;
        }

        ul {
          position: relative;
          width: 100%;
          height: fit-content;
          background-color: $bg-color;
          border-radius: 8px;
          border: 1px solid $border-color;
          margin-top: 5px;
          overflow: hidden;
          li {
            height: 1.5875rem;
            line-height: 120%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:first-child {
              border-bottom: 1px solid $border-color;
            }

            &:hover {
              background-color: $point-color;
            }
          }
        }
      }
      input {
        // width: calc(700px - 150px);
        width: 34.375rem;
        outline: unset;
        padding: 0 10px;
      }
    }
  }

  div.right-container {
    padding-right: 3.125rem;
    div.default-container {
      gap: 3.125rem;

      button {
        min-width: fit-content;
        cursor: pointer;
        &:hover {
          color: $point-color;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 80rem) {
  div.left-container {
    gap: 1.56rem !important;
    // div.logo {
    //   min-width: 11.7%;
    // }
    div.search-container {
      width: 65% !important;

      select {
        width: 25% !important;
        padding: 0 5px !important;
      }

      input {
        width: 75% !important;
      }
    }
  }
}

@media (max-width: 64rem) {
  div.left-container {
    gap: 1.56rem !important;
    a.logo {
      min-width: 11.7%;
    }

    div.search-container {
      width: 55% !important;

      select {
        width: 25% !important;
        padding: 0 5px !important;
      }

      input {
        width: 75% !important;
      }
    }
  }

  div.right-container {
    width: 38.3%;
    div.default-container {
      gap: 1.56rem !important;
    }
  }
}
