@import "@/styles/globals.scss";

div.item {
  height: 12.5rem;
  div.rank {
    width: 6.25rem;
  }
  div.wish {
    .active-mark-icon {
      color: $point-color;
    }
    .disabled-mark-icon {
      color: $assistance-color;
    }
  }

  div.thumbnail {
    width: 12.5rem;
  }

  div.information {
    width: calc(100% - 18.75rem);
    padding: 0 1.25rem;
    gap: 0.5rem;
    p.best-duration {
      width: fit-content;
      height: fit-content;
      border-radius: 0.5rem;
      border: 1px solid rgba(black, 0.1);
      background: linear-gradient(135deg, $point-color, $assistance-color);
      color: $bg-color;
      padding: 0 0.5rem;
    }

    h1.book-title {
    }

    p.book-publish,
    p.book-category {
      color: $assistance-color;
    }

    p.book-description {
      width: 80%;
    }
  }

  &:nth-child(odd) {
    background-color: $border-color;
    & > div:not(:last-child) {
      border-right: 1px solid $bg-color;
    }
  }
  &:nth-child(even) {
    background-color: unset;
    & > div:not(:last-child) {
      border-right: 1px solid $border-color;
    }
  }
}
