@import "@/styles/globals.scss";

div.location-item-container {
  gap: 0.5rem;
  padding: 1.25rem;
  width: 25rem;
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  div.title {
    font-weight: 500;
  }
  p {
    font-size: 14px;

    &.phone-number {
      color: $assistance-color;
    }
  }
}

@media (max-width: 80rem) {
  div.location-item-container {
    width: 100%;
  }
}
