@import "@/styles/globals.scss";
form.signup-form-wrap {
  div.form-container {
    gap: 1.25rem;
    margin-bottom: 5rem;
  }
  button {
    border: 2px solid $border-color;
    border-radius: 8px;
    color: $assistance-color;
    cursor: default;
    width: 31.25rem;
    height: 3.125rem;
    &.active {
      color: $text-color;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        background-color: $border-color;
      }
    }
  }
}
