@import "tailwindcss";

// :root {
//   --background: #fff8f1;
//   --textColor: #3e2c1c;
// }

// @theme inline {
//   --color-background: var(--background);
//   --color-foreground: var(--foreground);
//   // --font-inter: var(--font-inter);
//   // --font-elite : var(--font-elite)
//   // --font-pretendard: var(--font-pretendard);
//   // --font-test : var(--font-test);
// }

// * Dark Mode
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }
// * Font
$font-elite: var(--font-elite);
$font-test: var(--font-test);
$font-inter: var(--font-inter);
$font-pretendard: var(--font-pretendard);

// * Color
$bg-color: #fff8f1;
$border-color: #d6baa0;
$point-color: #a47148;
$text-color: #3e2c1c;
$assistance-color: #9a897c;
$warning-color: #d26a5e;
$warning-border-color: #f3c1ba;

body {
  background: $bg-color;
  color: $text-color;
  &* {
    box-sizing: border-box;
    font-family: $font-inter, $font-pretendard, sans-serif;
  }
}
