@import "tailwindcss";

:root {
  // --background: #ffffff;
  // --foreground: #171717;
  --background : #FFF8F1;
  --textColor : #3E2C1C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-elite : var(--font-elite)
  --font-pretendard: var(--font-pretendard);
  --font-test : var(--font-test);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

body {
  background: var(--background);
  color: var(--textColor);
  font-family: var(--font-inter), var(--font-pretendard), sans-serif;
  
}